body {
  font-family: 'Times New Roman', Times, serif;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://png.pngtree.com/background/20210716/original/pngtree-green-quality-water-esurery-muscle-background-picture-image_1356895.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}